header{
    background-color: black;
    color: whitesmoke;
    padding: 30px;




}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li{
   display: inline;
   margin-right: 30px;
}

nav a {
   text-decoration: none;
color:grey;
font-weight: bold;

}
